.container {
  margin-bottom: 16px;
}

.label {
  font-weight: bold;
  margin-right: 8px;
}

.button {
  font-weight: normal;
}

.buttonFirst {
  margin-right: 4px;
}

.buttonActive {
  font-weight: bold;
}
